.board{
    width: 368px;
    min-height: 10px;
    padding: 24px;
    border-radius: 16px;
    gap: 16px;
    background-color: rgba(38, 38, 38, 1);
    color:#FFFFFF;
}
.boardTitle{
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}
