.card{
    position:relative;
    width: 320px;
    padding:24px;
    margin-top:16px;
    min-height: 72px;
    border-radius: 8px;
    gap: 8px;
}
.cardTitle{
    display: inline;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    width: 272px;
    height: 24px;
}
.cardBody{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    min-height:68px;
    color:rgba(255, 255, 255, 0.75);
}
.cardBtns {
    position:absolute;
    text-align: right;
    top: 14px;
    left:270px;
    button{
        background-color: transparent;
        padding:0;
        text-align: center;
        border:none;
        cursor: pointer;
        width: 15px;
        text-align: center;
        margin-right: 8px;
        img{
            width: 100%;
            vertical-align: middle;
        }
    }
}

.moveTodo, .moveProgress, .moveDone{
    display:inline;
    margin-left:10px;
}