.card{
    position:relative;
    width: 320px;
    padding:24px;
    margin-top:16px;
    min-height: 72px;
    border-radius: 8px;
    gap: 8px;
}

.cardTitle{
    display: inline;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    width: 272px;
    height: 24px;
    overflow-wrap: break-word;
}
.cardBody{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    min-height:68px;
    color:rgba(255, 255, 255, 0.75);
}
.cardBtns {
    display: flex;
    justify-content: right;
    gap:5px;
    *{
        cursor: pointer;
    }
    div{
        opacity: 0;
        .card:hover & {
            visibility: visible;
            opacity: 1;
        }
    }
    button{
            background-color: transparent;
            text-align: center;
            border:none;
            width: 15px;
            background-color: transparent;
            padding:0;
            cursor: pointer;
            img{
                width: 100%;
                vertical-align: middle;
            }
    }
}