$mint:rgba(0, 178, 148, 1);
$red:rgba(217, 53, 53, 1);
$blue:rgba(48, 127, 226, 1);
$purple:rgba(118, 120, 209, 1);


.colors{
    width:100px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    cursor: pointer;
}
.mintBtn, .redBtn, .blueBtn, .purpleBtn{
    border-radius: 50%;
    width:20px;
    height: 20px;
    border: none;
    &:focus {
        border: 1px solid black;
    } 
}
.mintBtn{
    background-color:$mint;
}
.redBtn{
    background-color:$red;
}
.blueBtn{
    background-color:$blue;
}
.purpleBtn{
    background-color:$purple;
}