$mint:rgba(0, 178, 148, 1);
$red:rgba(217, 53, 53, 1);
$blue:rgba(48, 127, 226, 1);
$purple:rgba(118, 120, 209, 1);

.newCardForm{
    position:relative;
    width: 320px;
    top: 25px;
    border-radius: 8px;
    gap: 8px;
    background: rgba(212, 212, 212, 1);
    padding:24px;
    margin-top:16px;
    min-height: 72px;
    text-align: center;
}
.inputTitle{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    width: 272px;
    height: 24px;
    // color:rgba(255, 255, 255, 0.75);
}
.inputBody{
    font-size: 14px;
    font-weight: 400;
    width: 272px;
    line-height: 20px;
    text-align: left;
    min-height:68px;
    // color:rgba(255, 255, 255, 0.75);
}

.newCardForm>input,textarea{
    background: rgba(212, 212, 212, 1);
    outline:none;
    border:none;
}
.newCardForm>button{
    background: rgba(181, 181, 181, 1);
    width:60px;
    height:30px;
    border:none;
    cursor: pointer;
    border-radius: 8px;
    margin-right:15px;
}
// 색 넣는 버튼
.colors{
    width:100px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    cursor: pointer;
}
.mintBtn, .redBtn, .blueBtn, .purpleBtn{
    border-radius: 50%;
    width:20px;
    height: 20px;
}
.mintBtn{
    background-color:$mint;
}
.redBtn{
    background-color:$red;
}
.blueBtn{
    background-color:$blue;
}
.purpleBtn{
    background-color:$purple;
}